<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans.xsd 
    http://www.springframework.org/schema/context 
    http://www.springframework.org/schema/context/spring-context.xsd">
     
    <bean class="com.beanpostprocessor.beans.SampleBeanPostProcessor"/>
    
    <bean id="person" class="com.beanpostprocessor.beans.Person" autowire="byName">
      <property name="id" value="1"/>
      <property name="name" value="Andrew"/>
      <property name="surname" value="Ryan"/>
    </bean>
      
    <bean id="country" class="com.beanpostprocessor.beans.Country" autowire="byName">
      <property name="name" value="NoWhere"/>
    </bean>

    <bean id="city" class="com.beanpostprocessor.beans.City">
      <property name="name" value="Rapture"/>
    </bean>

</beans> 
