<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans.xsd 
    http://www.springframework.org/schema/context 
    http://www.springframework.org/schema/context/spring-context.xsd">

    <bean class="org.springframework.beans.factory.annotation.RequiredAnnotationBeanPostProcessor"/>
    <bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"/>

    <!-- Alternative to the annotations instead of use the upper annotations-->
    <!--
    <context:annotation-config/>
    -->

    <bean id="messi" class="com.sampleautowired.beans.Player">
        <property name="number" value="10"/>
        <property name="name" value="Lionel Messi"/>
        <!-- <property name="team" ref="barcelona"></property> -->
    </bean>

    <bean id="team" class="com.sampleautowired.beans.Barcelona">
        <qualifier value="barcelonaqualifier"/>
    </bean>
    <bean id="juventus" class="com.sampleautowired.beans.Juventus"/>

</beans> 
